<% if @practitioner.present? %>
  <div id="about_picture"><%= image_tag(@practitioner.attached_image) %></div>
  <h3>About <%= @practitioner.name %></h3>
  <%= markdown(@practitioner.bio) %>
<% end %>
